
  @import '../../styles/variables.scss';

  .base-button {
    position: relative;
    padding: 0 $spacing;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
    justify-content: center;
    color: inherit;

    .base-button-text {
      text-align: center;

      &.base-button-text__nowrap {
        white-space: nowrap;
      }
    }

    .base-button-icon {
      height: $icon-small;
      width: $icon-small;
      max-width: $icon-small;
      flex: 0 0 auto;
      // added for drop icon animation
      transition: transform 0.5s ease;

      &.base-button-icon-colored {
        color: $app-color;
      }
    }

    /**
     * button-style: row
     */
    &.base-button-row {
      min-height: $row-height-large;

      &.base-button-background {
        background-color: white;
      }

      .base-button-icon-large {
        height: $icon-large;
        width: $icon-large;
        max-width: $icon-large;
      }

      .base-button-icon-small {
        height: $icon-medium;
        width: $icon-medium;
        max-width: $icon-medium;
      }

      &.base-button-active {
        /* TODO: adjust this to style guide if necessary */
        box-shadow: $box-shadow-reg, inset 0 (-$border-active-width) 0 0 $app-color;
        z-index: map-get($zindex, button-active);
      }
    }

    /**
     * button-style: single
     */
    &.base-button-single {
      min-height: $row-height-small;

      &.base-button-background {
        background-color: $button-header-color;
      }

      .base-button-icon-large {
        height: $icon-medium;
        width: $icon-medium;
        max-width: $icon-medium;
      }

      .base-button-icon-small {
        height: $icon-small;
        width: $icon-small;
        max-width: $icon-small;
      }

      &.base-button-active .base-button-icon {
        color: $app-color;
      }
    }

    /**
     * button-style: secondary
     */
    &.base-button-secondary {
      font-size: $font-size-small;
      color: $font-color-second;

      &.base-button-background {
        background-color: $button-header-color;
      }

      &:disabled {
        color: $font-color-third;

        &:hover, &:focus, &:active, &:active .base-button-icon, &:focus .base-button-icon {
          color: $font-color-third;
        }
      }
    }

    .base-button-icon-hide {
      visibility: hidden;
    }

    /**
     * button-style: circle
     */
    &.base-button-circle {
      background-color: #ffffff;
      border-radius: 50%;
      color: $font-color-second;
      border: 1px solid $font-color-second;
      padding: 0;
      width: 24px;
      height: 24px;

      &:hover {
        color: $app-color;
        border-color: $app-color;
      }

      &:focus {
        color: $app-color;
      }
    }

    /**
     * modifiers
     */
    &.base-button-active {
      /* TODO: adjust this to style guide if necessary */
      box-shadow: $box-shadow-reg, inset 0 (-$border-active-width) 0 0 $app-color;
      z-index: map-get($zindex, button-active);
    }

    &.base-button-align-left:not(&.base-button-icon-top) {
      justify-content: flex-start;
    }

    &.base-button-align-center {
      justify-content: center;
    }

    &.base-button-align-right:not(&.base-button-icon-top)  {
      justify-content: flex-end;
    }

    &.base-button-icon-top {
      flex-direction: column;
      justify-content: center;
      line-height: $line-height;
    }

    &.base-button-icon-left {
      .base-button-icon + .base-button-text {
        margin-left: $spacing;
      }
    }

    &.base-button-icon-right {
      .base-button-icon {
        order: 1;

        & + .base-button-text {
          margin-right: $spacing;
        }
      }
    }

    /* class is set in following components: baseExpandBox and BaseAdvancedSearch */
    &.base-button-icon-rotate-180 {
      .base-button-icon {
        transform: rotate(180deg);
      }
    }

    &:hover {
      color: $app-color;
    }

    &:active .base-button-icon, &:focus .base-button-icon {
      color: $app-color;
    }

    &:disabled {
      cursor: default;
      color: $graytext-color;

      &:hover, &:focus, &:active, &:active .base-button-icon, &:focus .base-button-icon {
        color: $graytext-color;
      }
    }
  }
